server:
  port: 8088
  
#logging:
#  level:
#    org.springframework: DEBUG

spring:
  messages:
    basename: messages
  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp  
    static-path-pattern: /resources/**  
  thymeleaf:
    view-names: thymeleaf/*
    prefix: classpath:/templates/
    suffix: .html 
    cache: false 
    check-template-location: true
#  security:
#    user:
#      name: user
#      password: password
  datasource:
    url: jdbc:h2:mem:testdb
  jpa:
    show-sql: true
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true

management:
    endpoints:
        web:
            exposure:
                include: "*"

